@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Thin.eot');
  src: url('/fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaNeue-Thin.woff') format('woff'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype'), url('/fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-UltraLight.eot');
  src: url('/fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaNeue-UltraLight.woff') format('woff'), url('/fonts/HelveticaNeue-UltraLight.ttf') format('truetype'), url('/fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Medium.eot');
  src: url('/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaNeue-Medium.woff') format('woff'), url('/fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue.eot');
  src: url('/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaNeue.woff') format('woff'), url('/fonts/HelveticaNeue.ttf') format('truetype'), url('/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Bold.eot');
  src: url('/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaNeue-Bold.woff') format('woff'), url('/fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Light.eot');
  src: url('/fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaNeue-Light.woff') format('woff'), url('/fonts/HelveticaNeue-Light.ttf') format('truetype'), url('/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-LightOblique.eot');
  src: url('/fonts/avenir/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-LightOblique.woff') format('woff'),
      url('/fonts/avenir/Avenir-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-MediumOblique.eot');
  src: url('/fonts/avenir/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-MediumOblique.woff') format('woff'),
      url('/fonts/avenir/Avenir-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('/fonts/avenir/Avenir-Book.eot');
  src: url('/fonts/avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Book.woff') format('woff'),
      url('/fonts/avenir/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-HeavyOblique.eot');
  src: url('/fonts/avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-HeavyOblique.woff') format('woff'),
      url('/fonts/avenir/Avenir-HeavyOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Oblique.eot');
  src: url('/fonts/avenir/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Oblique.woff') format('woff'),
      url('/fonts/avenir/Avenir-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Black.eot');
  src: url('/fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Black.woff') format('woff'),
      url('/fonts/avenir/Avenir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Heavy.eot');
  src: url('/fonts/avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Heavy.woff') format('woff'),
      url('/fonts/avenir/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Roman.eot');
  src: url('/fonts/avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Roman.woff') format('woff'),
      url('/fonts/avenir/Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Light.eot');
  src: url('/fonts/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Light.woff') format('woff'),
      url('/fonts/avenir/Avenir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('/fonts/avenir/Avenir-BookOblique.eot');
  src: url('/fonts/avenir/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-BookOblique.woff') format('woff'),
      url('/fonts/avenir/Avenir-BookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Medium.eot');
  src: url('/fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-Medium.woff') format('woff'),
      url('/fonts/avenir/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url('/fonts/avenir/Avenir-BlackOblique.eot');
  src: url('/fonts/avenir/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
      url('/fonts/avenir/Avenir-BlackOblique.woff') format('woff'),
      url('/fonts/avenir/Avenir-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


$font-size-h1: 35px !default;
$font-size-h2: 30px !default;
$font-size-h3: 25px !default;
$font-size-h4: 20px !default;
$font-size-h5: 18px !default;

h1, h2, h3, h4, h5 {
  font-family: Avenir
}
h1 {
  font-size: $font-size-h1;
  letter-spacing: 2.80px;
  font-weight: 300;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
.small-title {
  color: $light-blue;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 100;
  font-family: Avenir;
}
.big-title {
  letter-spacing: 11px;
  font-weight: 100;
}
.sub-title {
  font-family: Avenir;
  letter-spacing: 1.52;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 22px;
  color: $light-blue;
}
.benefits-list {
  p {
    font-weight: 200;
    margin-bottom: 50px;
    letter-spacing: 2px;
    &:last-child {
      margin-bottom: inherit;
    }
    @media (max-width: 768px) {
      margin-left: 0 !important;
    }
  } 
}
.title-section {
  font-weight: 100;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: Avenir;
}