.dark-form {
  .form-control {
    background-color: #000000;
    border: none;
    letter-spacing: 1.5px;
    height: 33px;
    font-size: 12px;
    color: $white;
    font-weight: 100;
    width: 100%;
    font-family: 'Helvetica Neue';
  }
   ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #B0D4FF;
    font-family: 'Helvetica Neue';
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #B0D4FF;
    font-family: 'Helvetica Neue';
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #B0D4FF;
    font-family: 'Helvetica Neue';
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #B0D4FF;
    font-family: 'Helvetica Neue';
  }
}
.subscribe-updates {
  .form-control {
    padding: $btn-padding-y $btn-padding-x;
    font-family: 'Helvetica Neue';
  }
}
.form-inline {
  .form-group {
     display: flex;
     position: relative;
    .form-control {
      width: calc(100% - 45px);
    }
    span {
      width: 45px;
      text-align: center;
      cursor: pointer;
      svg {
        width: 25px;
        height: 22px !important;
        fill: $light-blue;
        opacity: .6;
      }
    }
    .email-sent {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #83E6AB;
      color: $dark-blue;
      text-align: center;
      line-height: 42px;
      width: 0;
      transition: all .3s;
      font-size: 16px;
      span {
        opacity: 0;    
         transition: all .3s;
         transition-delay: 0s;
      }
    }
    &.valid {
      .email-sent {
         width: 100%;
         transition: all 1.6s;
      } 
      span {
        opacity: 1;
        transition: all .3s;
        transition-delay: 2s;
      }
    }
    &.invalid {
      input {
        background-color: #5f3232;
      }
    }
  } 
}