.hero-sect {
  height: 500px;
  position: relative;
  .hero-title {
    color: $white;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 300;
  }
  .btn-primary {
    margin-right: 15px;
  }
  .countdown-wrapper {
    display: inline-block;
    float: right;
    opacity: 0;
    p {
      font-family: AppleGothic;
      color: $light-blue;
      letter-spacing: 2px;
      text-align: center;
      small {
        padding: 0 5%;
      }
    }
    visibility: visible;
    transition: all .3s;
    transition: all .3s;
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
    span {
      display: none;
    }
    &.show {
      opacity: 1
    }
  }
  @media (max-width:768px) {
    padding: 30px 0;
    height: auto;
    .hero-title {
      margin-top: 0;
      transform: translateY(0);
      margin-bottom: 30px;
      
    }
    .countdown-sect {
      text-align: center;
      min-height: 260px;
    }
    .countdown-wrapper {
      margin-top: 30px;
      transform: translateY(0);
      float: none;
    }
  }
  @media (max-width:991px) {
    .hero-title {
      br {
        display: none;
      }
    }
    .btn-primary,
    .btn-secondary {
      margin-left: 0;
      margin-bottom: 15px;
    }
  }
  .form-inline {
    width: 600px;
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-bottom: 0;
    @media (max-width: 700px) {
      width: calc(100% - 30px);
    }
  }
  &.sticky {
    margin-top: 73px;
    height: 523px;
  }
}
@media (max-width:991px) {
  .sub-title {
    br {
      display: none;
    }
  }
}