.team-members {
  margin-bottom: 30px;
  margin-top: 50px;
  .member {
    width: 160px;
    height: 160px;
    border: solid thin #979797;
    position: relative;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 100px;
     &:after {
       width: 100%;
       height: 100%;
       background-color: rgba(#00BAFF, .2);
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       transform: translate(14px, -14px);
     }
    img {
      width: 100%;
      transform: translate(14px, -14px);
      border: none;
      filter: grayscale(100%);
    }
    .member-name {
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 3px;
      span {
        font-weight: 600;
      }
    }
    @media (max-width:768px) {
      width: 130px;
      height: 130px;
      margin-right: 40px;
    }
    @media (max-width:540px) {
      width: 120px;
      height: 120px;
      margin-right: 40px;
    }
    @media (max-width:320px) {
      width: 110px;
      height: 110px;
      margin-right: 30px;
    }
  }
}