.techstack-section {
  height: 3200px;
  position: relative;
  &.fixed {
    .thechstack-wrapper {
      position: fixed;
      top: 70px;
      width: 100%;
      bottom: 0;
    }
  }
  &.absolute {
      .thechstack-wrapper {
        position: absolute;
        bottom: 90px;
        width: 100%;
      }
  }
}
.techstack {
  position: relative;
  width: 100%;
  height: 60vh;
  .level {
    display: inline-block;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .level-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 0;
        // transition: all .3s;
      }
      &.left {
        &:before {
        right: 100%;
        background: -webkit-linear-gradient(left, $white 0, rgba($white, 0) 100%);
        }
      } 
      &.right {
        &:before {
          left: 100%;
          background: -webkit-linear-gradient(right, $white 0, rgba($white, 0) 100%);
        }
      }
      
       > svg {
         width: 100%;
         opacity: .3;
         transition: all .3s;
       }
       .icon-group {
         position: absolute;
         top: 50%;
         width: 100%;
         display: table;
         letter-spacing: 2px;
         opacity: 0;
         transition: all .3s;
         transition-delay: .3s;
         p {
           font-weight: 100;
         }
         div {
           display: table-cell;
           vertical-align: middle;
           padding: 5px;
           h5 {
             margin: 0;
           }
         }
         i {
           width: 60px;
           height: 60px;
           border: solid 3px;
           display: inline-block;
           border-radius: 50%;
           text-align: center;
           svg {
             width: 30px;
             height: 30px;
             fill: white;
             padding-top: 14px;
           }
         }
         &.left {
           left: -115%;
           text-align: right;
           transform: translate(15px, -50%);
         }
         &.right {
           right: -115%;
           transform: translate(-15px, -50%);
           text-align: left;
         }
       }
    }
      &.active {
       .level-wrapper {
         &:before {
           width: calc(15% + 5px);
         }
         svg {
           opacity: 1;
         }

         .icon-group {
           opacity: 1;
           &.left {
             transform: translate(0, -50%);
             transition-delay: 0;
           }
           &.right {
             transform: translate(0, -50%);
             transition-delay: 0;
           }
         }
       }  
     }
    &:nth-child(1) {
      top: 0; 
      z-index: 6;
      svg {
        .st0 {
          fill: #9dc1ec;
        }

        .st1 {
          fill: #2365b4;
        }

        .st2 {
          fill: #4488db;
        }
      }
      .icon-group {
        i {
          border-color: #4488db;
        }
        h5 {
          color: #4488db;
        }
      }
    }
    &:nth-child(2) {
      top: 16%;
      z-index: 5;
      svg {
        .st0 {
          fill: #d755d7;
        }
        .st1 {
          fill: #ac29ac;
        }
        .st2 {
          fill: #c82fc8;
        }
      }
      .icon-group {
        i {
          border-color: #d755d7;
        }
        h5 {
          color: #d755d7;
        }
      }
    }
    &:nth-child(3) {
      top: 32%;
      z-index: 4;
      svg {
        .st0 {
          fill: #ad5bd2;
        }
        .st1 {
          fill: #822ea7;
        }
        .st2 {
          fill: #9635c1;
        }
      }
      .icon-group {
        i {
          border-color: #822ea7;
        }
        h5 {
          color: #822ea7;
        }
      }
    }
    &:nth-child(4) {
      top: 48%;
      z-index: 3;
      svg {
        .st0 {
          fill: #c49deb;
        }

        .st1 {
          fill: #6b24b4;
        }

        .st2 {
          fill: #5a1dab;
        }
      }
       .icon-group {
         i {
           border-color: #c49deb;
         }
         h5 {
           color: #c49deb;
         }
       }
    }
    &:nth-child(5) {
      top: 64%;
      z-index: 2;
      svg {
        .st0 {
          fill: #6f24d1;
        }
        .st1 {
          fill: #4e1993;
        }
        .st2 {
          fill: #5a1dab;
        }
      }
      .icon-group {
        i {
          border-color: #6f24d1;
        }
        h5 {
          color: #6f24d1;
        }
      }
    }
    &:nth-child(6) {
      top: 80%;
      z-index: 1;
      svg {
        .st0 {
          fill: #969696;
        }
        .st1 {
          fill: #6a6a6a;
        }
        .st2 {
          fill: #7b7b7b;
        }
      }
      .icon-group {
        i {
          border-color: #969696;
        }
        h5 {
          color: #969696;
        }
      }
    }
  }
}
.techstack {
  .level {
    @media (max-width:768px) {
      width: 50%;
      left: 0;
      transform: translateX(0);
      .level-wrapper {
        &.left {
          &:before {
            left: 100%;
          }
          .icon-group {
            &.left {
              left: auto;
              right: -95%;
              transform: translate(-15px, -50%);
              width: 85%;
            }
          }
        }
        &.right {
          .icon-group {
            &.right {
              right: -95% !important;
              width: 85% !important;
            }
          }
        }
      }
    }
    @media (max-width:540px) {
      width: 42%;
      left: 0;
      transform: translateX(0);
      .level-wrapper {
        &.left {
          .icon-group {
            &.left {
              left: auto;
              right: -150%;
              transform: translate(-15px, -50%);
              width: 130%;
            }
          }
        }

        &.right {
          .icon-group {
            &.right {
              right: -150% !important;
              width: 130% !important;
            }
          }
        }
        .icon-group {         
          p {
            font-weight: 100;
            font-size: 10px;
          }
          div {
            display: table-cell;
            vertical-align: middle;
            padding: 5px;
            h5 {
              margin: 0;
              font-size: 12px;
            }
          }
          i {
            width: 30px;
            height: 30px;
            border: solid 2px;
            svg {
              width: 15px;
              height: 15px;
              fill: white;
              padding-top: 6px;
            }
          }
        }
      }
    }
  }
}