.vatoms-sect {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 133vh;
  .ls {
    width: 50%;
    background-color: #1C2339;
  } 
  .rs {
    // background-image: url(../img/city-lights.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    opacity: .6;
    position: relative;
    overflow: hidden;
    video { 
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: calc(100% + 190px);
      width: auto;
      height: calc(100% + 190px);
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      opacity: .4;
      filter: grayscale(100%);
    }

  }
  .circles-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    #circlesWrapper {
      height: 100%;
      margin-top: 14vh;
    }
  }
  .s-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    .calouts-title {
      display: flex;
      h4 {
        width: 50%;
        color: #FFF9C8;
        padding: 10px 0;
        margin: 0;
        font-weight: 100;
        letter-spacing: 5.29px;
        &:nth-child(1) {
          background-color: rgba(#060C1D,.3)
        }
        &:nth-child(2) {
          background-color: rgba(#3D619A,.3)
        }
      }      
    }
    .callouts {
      position: relative;
      overflow: hidden;
      padding: 50px 0;
      height: 90vh;
      .c-item {
        height: 7vh;
        padding: 1vh 0;
        position: absolute;
        width: 40%;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        & span {
          width: 100%;
          height: 100%;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
        }
        p {
          text-align: right;
          padding-right: 30%;
          font-size: 2vh;
          font-weight: 100;
          font-family: Avenir;
          letter-spacing: 2px;
        }
        &:nth-child(1) {
          top: 8vh;
          left: 0;
          span {
            background-image: url(../img/vAtoms/c-item.svg);
          }
        }
        &:nth-child(2) {
          top: 21vh;
          left: -6%;
          span {
            background-image: url(../img/vAtoms/c-item-1.svg);
          }
        }
        &:nth-child(3) {
          top: 35vh;
          left: -9%;
          span {
            background-image: url(../img/vAtoms/c-item-2.svg);
          }
        }
        &:nth-child(4) {
          top: 49vh;
          left: -6%;
          span {
            background-image: url(../img/vAtoms/c-item-3.svg);   
          }

        }
        &:nth-child(5) {
          top: 63vh;
          span {
            background-image: url(../img/vAtoms/c-item-4.svg);
          }
        }
        &:nth-child(6) {
          top: 8vh;
          right: 0;
          span {
            background-image: url(../img/vAtoms/c-item.svg);
            transform: scaleX(-1);
            p {
              transform: scaleX(-1);
              text-align: left;
              padding-left: 30%;
            }
          }
        }
        &:nth-child(7) {
          top: 21vh;
          right: -6%;
          span {
            background-image: url(../img/vAtoms/c-item-1.svg);
            transform: scaleX(-1);
            p {
              transform: scaleX(-1);
              text-align: left;
              padding-left: 30%;
            }
          }
        }
        &:nth-child(8) {        
          top: 35vh;
          right: -9%;
          span {
            background-image: url(../img/vAtoms/c-item-2.svg);
            transform: scaleX(-1);
            p {
              transform: scaleX(-1);
              text-align: left;
              padding-left: 30%;
            }
          }      
        }
        &:nth-child(9) {
          top: 49vh;
          right: -6%;     
          span {
            background-image: url(../img/vAtoms/c-item-3.svg);
            transform: scaleX(-1);
            p {
              transform: scaleX(-1); 
              text-align: left;
              padding-left: 30%;
            }
          }
        }
        &:nth-child(10) {
          top: 63vh;       
          right: 0;
          span {
            background-image: url(../img/vAtoms/c-item-4.svg);
            transform: scaleX(-1);
            background-position: right;
            p {
              transform: scaleX(-1); 
              text-align: left;
              padding-left: 30%;
            }
          }       
        }
      }
    }
  }
}
.fmtb-sect {
  height: 80vh;
  position: relative;
  overflow: hidden;
  .row {
    height: 100%;
    align-items: center;
  }
  .particle-ball {
    position: absolute;
    height: 110%;
    width: auto;
    left: -20%;
    top: -5%;
    opacity: .2;
  }
}
.icon-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  &:nth-child(3) {
    margin-bottom: 0;
  }
  a {
    color: #6ea1d2;
    text-transform: uppercase;
  }
  span {
    width: 25%;
    display: inline-block;
    text-align: center;
    float: left;
    svg {
      width: 60%;
      margin-top: 15px;
      height: auto;
    }
  }
  .icon-group-content {
    width: 75%;
    float: left;
  }
  p {
    display: inline-block;
    font-size: 18px;
    &.sub-title {
      font-size: 25px;
      margin-bottom: 0;
    }
  }
  &:nth-child(2) {
    span {
      svg {
        width: 46%;
      }
    }
  }
}